<p class="description">This addon helps detect if your app is currently visible and whether
  or not it's ever lost visibility. Try switching tabs or minimizing the page!</p>

<span class="badges">
  <span class="badgeInner">
    <a href="https://travis-ci.org/elwayman02/ember-is-visible" target="_blank">
      <img src="https://travis-ci.org/elwayman02/ember-is-visible.svg?branch=master" />
    </a>
    <a href="https://emberobserver.com/addons/ember-is-visible" target="_blank">
      <img src="https://emberobserver.com/badges/ember-is-visible.svg" />
    </a>
    <a href="https://codeclimate.com/github/elwayman02/ember-is-visible" target="_blank">
      <img src="https://codeclimate.com/github/elwayman02/ember-is-visible/badges/gpa.svg" />
    </a>
  </span>
</span>

<p>This demo is running EIV {{app-version}}</p>

{{is-visible}}